/* Start sharing common style */
*{
    padding:0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* End sharing common style */
/* Start Banner style */
.banner-container{
    background-image: url("../asset/images/banner/banner3.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
    padding: 10px;
}
.banner-text{
    width: 50%;
}
.banner-title{
    color: #FFF;
    font-size: 65px;
}
.banner-description{
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    padding: 2% 0% 2% 35%;
}
.banner-button{
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
.banner-button:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px #1e3244;
}

/* End Banner style */
main{
    width: 75%;
    margin: auto;
}
 /* Start My failures style */
 .failures-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 150px 0px 0px 0px;
    gap: 75px;
 }

 .failures-img{
    width: 550px;
    
 }

.failures-title{
    color:  #151414;
    font-size: 40px;
    font-weight: 700;
}
.failures-description{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 25px 25px 15px 0px;
 }
 .failures-reasons {
    list-style: none;
  }
  .failures-reasons-list{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 5px;
  }
.failures-reasons li:before {
    content: '✓';
    color: #16D887;
    font-size: 20px;
    padding-right: 10px;
  }
 /* End My failures style */
 /* Start My Plans Style */
 .plans-container{
    padding: 130px 0px;
 }
 .plans-title h1{
    color:#151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
 }

 .plans-all-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
 }
 .plan-box img{
    width: 80px;
    height: 80px;
    padding-bottom: 15px;
 }
 .plan-box-title{
    color:#151414;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
 }
 .plan-box-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
 }
 /* End My Plans Style */
 /* start contact style */
 .contact{
    padding: 0px 0px 100px 0px;
 }
 .contact-me{
    background-image:url(../asset/images/watch.png),linear-gradient(90deg, rgb(3, 99, 155) 25%, rgb(175 175 175 / 50%) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    padding: 25px 25px 25px 50px;
    border-radius: 10px;
    color: white;
 }
 .contact-me >h1{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 5px;
 }
 .call-button{
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
.call-button:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px #1e3244;
}
 /* End contact style */
 /* Start footer style */
 footer{
    background-color: #151414;
 }
 .footer-container{
    width: 75%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: white;
    border-bottom: 1px solid gray;
 }
 .footer-title{
    font-size: 45px;
    font-weight: 700;
 }
 .footer-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 0px;
 }
 .footer-email-phone{
    list-style: none;
    padding-bottom: 20px;
 }
 .footer-social-icon >a{
    padding-right: 25px;
 }
 .footer-social-icon a>img{
    width: 30px;
    border-radius: 100%;
 }
 .second-footer-title{
    font-size: 25px;
    font-weight: 600;
 }
 .footer-input{
    padding:25px 0px;
 }
 .footer-subscribe >input{
    padding: 18px 70px 18px 18px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
 }
 .submit-button{
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    background-color: #005FAC;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
}
.submit-button:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px #1e3244;
    cursor: pointer;
}
.copyright-description {
   text-align: center;
   padding: 15px;
   color: white;
}

 /* End footer style */